/* 
Color palette
#000000 - Black
#FFFFFF - White 
#C6C6C6 - Light Gray
#EDEDED - Lighter Gray / fill color between sections




*/


body {
    margin: 0;
    font-size: 1rem;
    /* font-family: "Source Sans 3", sans-serif; */
}

header {
    position: fixed;
}

.container {
    width: 375px;
    height: 545px;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    width: 127px;
    height: 33.02px;
}

.avatar {
    width: 34px;
    height: 34px;
}